body {
    background-image: url("/web/Google_Material_Design_Logo.svg");
    background-size: cover;
    background-color: #2d2c2c;
    color: var(--mdc-theme-text-primary-on-background, white);
    font-family: Roboto, monospace;
}
