body {
    background-color: var(--mdc-theme-background);
    color: var(--mdc-theme-text-primary-on-background);
    font-family: Roboto, monospace;
    margin: 0;
}

pre,
pre[class*="language-"] {
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 14px;
    font-family: monospace;
    tab-size: 2;
}

pre[class*="language-"] code {
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-family: monospace;
}
